@charset "utf-8";
/* CSS Document */

.logo{
	
	width: 150px;
	height: 150px;
	background-color:transparent;
	float: right;
	margin-top: -600px;
	margin-right: 120px;
	animation: rotate;
	animation-duration: 4s;
}

@keyframes rotate{
	
	0% { transform: rotate(0deg)}
	100% { transform: rotate(360deg)}
	
	
	
}

.logo:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

.sign{
	 width: 200px; 
	height: 50px; 
	background-color: red; 
	margin-left:830px;
	margin-top: 300px; 
	float: none;
}